        .link {
            color: #1b7288;
        }
        .link:hover {
            color: #22c6ef;
        }
        .image { 
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
            border-radius:32px;
            width: auto;
            height: auto;
            max-width: 320px;
            max-height: 320px;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            border: 2px solid #000000;
            border-radius: 32px;
            padding: 20px;
            box-sizing: border-box;}

        fieldset {
            border: none;
            padding: 0;
            margin: 0 0 20px 0;
        }

        legend {
            font-weight: bold;
            font-size: 1.1em;
            padding: 0;
            margin-bottom: 10px;
        }

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        input[type="text"],input[type="email"],input[type="tel"] {
            border: 1px solid #000000;
            border-radius: 20px;
            padding: 10px;
            font-size: 1em;
            margin-top: 6px;
            font-weight: bold;
        }

        input[type="submit"] {
            border: none;
            border-radius: 20px;
            padding: 12px;
            font-size: 1.1em;
            margin-top: 0px;
            font-weight: bold;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #55a4f8;
        } 